<article class="list-item">
  {{#if checked}}
    <input class="tick" type="checkbox" checked></input>
  {{else}}
    <input class="tick" type="checkbox"></input>
  {{/if}}
  <p class="list-text">{{text}}</p>
</article>
