<main class="todo">
  {{#each notes}}
    {{> note}}
  {{/each}}
  <article class="list-item" id="new-prompt">
    <div class="add">+</div>
    <input type="text" placeholder="Add task" id="task-val" maxlength="95"/>
  </article>
</main>
