* {
	padding: 0px;
	margin: 0px;
	font-family: roboto;
  box-sizing: border-box;
}

a {
	text-decoration: none;
	color: white;
}

.site-title {
	background-color: #4386fc;
	margin-bottom: 40px;
  font-size: 38px;
  color: white;
  padding: 10px;
}

body {
	background: #f0f0f0;
}

.todo {
	background: white;
	width: 50%;
	border-radius: 5px;
	margin: auto;
}

.list-item {
  height: 40px;
  display: grid;
  grid-template-columns: 40px auto;
  align-items: center;
}

.list-item:not(:last-of-type) {
  border-bottom: 1px solid #ddd;
}

.tick, .add {
  height: 20px;
  width: 20px;
  margin-left: 10px;
  border: none;
  outline: none;
  border-radius: 2px;
}

.list-text, .task-val {
	display: inline-block;
  border: none;
  outline: none;
  font-size: 16px;
}

.task-val {
  width: 100%;
  padding-right: 10px;
  box-sizing: border-box;
}

.add {
  font-size: 28px;
  line-height: 20px;
  color: #fff;
	background: #4386fc;
}